<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to Refinery::Core.site_name, refinery.root_path %></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section" id="menu">
  <%= foundation_menu(refinery_menu_pages, list_tag_css: 'left').to_html %>

  <ul class='right'>
    <li>
      <a href="/contact">Contact Us</a>
    </li>
  </ul>
</section>

</nav>
