.main-bg {
    background: url("/assets/background3.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.whitetransparent {
    background-color: rgba(255, 255, 255, 0.85) !important;
  }


.small-caps {
    font-variant: small-caps;
}

.all-caps {
    text-transform: uppercase;
}

.st-logo {
    height: 50px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

  main {
    flex: 1 0 auto;
}

.fa-margin {
    margin-left: 5px;
    margin-right: 5px;
}

.fa-margin-teal {
    margin-left: 5px;
    margin-right: 5px;
    color: #33CFCA;
}

.logo-padding {
    padding-left: 15px;
}

.st-orange {
    background-color: #F77E00;
}

.fa-orange {
    color: #F77E00;
}